body{
    margin: 0;
}
a{
    color: #000000c9;
    text-decoration: none;
}
.notice{
    margin-left: 10px;
}
.DivLink{
    display: flex;
    /*justify-content: center;*/
    position:relative;
    width:100%;
    height:60px;
    border-bottom: 2px solid #c5c5c5;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    line-height: 10px;
}

.DivLink .Link{
    display: block;
    width: 100%;
    height: 100%;
}

.Link{

}

.header{
    position: fixed;
    width: 100%;
    height: 57px;
    box-shadow: 0 0 2px;
    background-color: #f8f8f8;
    z-index:9999;
}

#caption{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}
.back{
    position: fixed;
    z-index: 9999;
    top: 6px;
    left: 10px;
}

.notice_list{
    padding:55px 0 0 0;
}

.notice_info{
    padding:5px;
}

.top_picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.05);
}