/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////↓通知・友達検索↓/////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*.notification{*/
/*    display: inline;*/
/*    position: absolute;*/
/*    top: 1%;*/
/*    right: 2%;*/

/*}*/

.noticeCount{
    position: fixed;
    z-index: 9999;
    margin-top: -15px;
    margin-left: -25px;
    color: #d20001;
    display: inline;
    background-color:#f8f8f8;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    box-shadow: 0 0 2px;
    background-color: #f8f8f8;
}

h2{
    margin:0;
}

.plus{
    margin-right: 12px;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////↓友達リスト↓////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

/* 友達表示ボタンの編集 */


.profile{
    display: inline;
    position: absolute;
    right: 55%;
    z-index: 99;
    left: 20%;
    font-size: 20px;
    margin-top: 10px;
}
.my_profile{
    display: inline;
    position: absolute;
    right: 55%;
    z-index: 99;
    left: 20%;
    font-size: 20px;
    margin-top: 3px;
}
.single_word{
    font-size: 13px;
    color: #1c1c1d;
}
.profile_info{
    margin-left: 10px;
}
.friend{
    text-decoration: underline;
    border-bottom: solid 1px rgba(100, 100, 100, 0.65);
    padding: 8px 0;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-bottom: 1px solid #b0b0b0;
    border-left: 0;
    border-right: 0;
    border-right: 0;
    margin-top: 5%;
    margin-bottom: 3%;
    z-index: 999;
}

.passive{
    display: none;
}

.up .down{
    width: 50px;
    height: 50px;
}

.active{
    display: block;
}

/* ドロップダウン▽△ボタン */
.triangle{
    width: 20px;
    height: 20px;
    position: relative;
    left: 0;
    top: 5px;
}
/*///////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////↓ハンバーガーコンフィグ↓//////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
#nav-drawer{
    display: inline;
    position: relative;
    bottom: 14px;
    left: 12px;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
    display:none;
}
/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    width: 40px;
    height: 0;
    vertical-align: middle;
}

/*ハンバーガーアイコンdesign*/
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 5px;/*線の太さ*/
    width: 40px;/*長さ*/
    border-radius: 30px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}
/* 二本目の位置 */
#nav-open span:before {
    bottom: -11px;
}
/* 三本目の位置 */
#nav-open span:after {
    bottom: -23px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;/*最前面*/
    width: 90%;
    max-width: 230px;/*アイコンの中身の幅*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;/*スライドインを滑らかにする*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
    padding-top: 20px;
}

/*閉じるための表示*/
#nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*スライドイン*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/*///////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////↓ホーム内共通設定↓////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

/* リンク配色 */
a:link{
    color:#000000;
    text-decoration: none;
}
a{
    color:#000000;
    text-decoration: none;
}

/* 画像の表示方法 */
.top_picture{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  60px;       /* 縦横を同値に */
    height: 60px;       /* 縦横を同値に */
    margin-left: 10px;
    border: solid 1px #d7d7d7;
}

/* サブタイトルのドロップダウンマークの位置 */
.titleDrop{
    margin: 0;
    margin-left: 5px;
    background-color: #fff;
}

#myProf{
    margin-top: 20px;
}
.overall_my_profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.account_danger{
    text-align: center;
    margin-top: 300px;
}
.line{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 10px;
}
.home_logo{
    height: 27px;
}

.user_name{
    font-size: 20px;
}