.titleStart{
    margin-top: 8%;
}

/*/////////////////////////////リンクの配色///////////////////////////////////*/

a:link {
    color: #3ea830c9;
}
a{
    color: #3ea830c9;
}

/*///////////////////////////全体のスタート配置設定/////////////////////////*/
.mallStart{
    margin-top: 12%;
}
.passStart{
    margin-top: 10%;
}
.loginStart{
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    margin-top: 15%;
}
.footer{
    margin-top: 35%;
}

/*/////////////////////////////ログインボタンのデザイン/////////////////////////*/
.btn-border {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    padding: 0 16px;
    border-radius: 4px;
    transition: .4s;
    width: 95%;
    border: 2px solid #63b858;
    background-color: #63b858;
    color: #FFF;
}

/*////////////////////テキストボックスのサイズ/////////////////////////////*/
.input{
    background-color: #ffffff;
    font-size: 16px;
    width: 95%;
    border: none;
    outline: none;
    padding-bottom: 8px;

    box-sizing: border-box; /*横幅の解釈をpadding, borderまで*/
}

/*////////////////////テキストボックスのアンダーライン/////////////////////////*/
.text_underline{
    position: relative; /*.text_underline::beforeの親要素*/
    width: 95%;
    left: 2%;
    border-top: 1px solid #c2c2c2;
}

/*//////////////////////////////緑色のアンダーライン///////////////////////////*/
.text_underline::before,
.text_underline::after{
    position: absolute;
    bottom: 0; /*中央配置*/
    width: 0; /*アニメーションで0pxから50%に*/
    height: 3px; /*高さ*/
    content: '';
    background-color: #9eebaf; /*アニメーションの色*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
/*中央から右へのアニメーション*/
.text_underline::before{
    left: 50%; /*中央配置*/
}
/*中央から左へのアニメーション*/
.text_underline::after{
    right: 50%; /*中央配置*/
}
/*実際に上で設定したアニメーションが移動する位置*/
.input:focus + .text_underline::before,
.input:focus + .text_underline::after{
    width: 50%;
}

.error{
    display: none;
    color:red;
    font-size: 12px;
}

.setting{
    float: right;
    font-size: 12px;
}

.mail_error{
    display: none;
    color:red;
    font-size: 12px;
}