.container{
    display: flex;
    justify-content: center;
}
.top_picture{
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.05);
}
.profile-element {
    padding-left: 10px;
    border-bottom: 1px solid #c2c2c2;
}
.profile-element p {
    margin: 0;
    padding: 0;
    font-size: 25px;
}
span{
    margin-left: 10px;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}
.profile-element-outer{
    margin-top: 10px;
}

.single_word{
    word-break: break-all;
}