body{
    margin: 0;
}
.titleStart{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 0 2px;
    margin:0;
    background-color: #f8f8f8;
    height: 56px;
    z-index: 9999;
}
.titleStart h2{
    position: relative;
    top:-8px;
    left: 10px;
}

.back{
    position: relative;
    top:3px;
    left: 10px;
}

.overall_search_input{
    padding: 80px 0 0 0;
}
.imgmaru{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  60px;       /* 縦横を同値に */
    height: 60px;       /* 縦横を同値に */
    border-bottom: 1px solid #b0b0b0;
}

.cp_iptxt {
    position: relative;
    width: 80%;
    margin: 20px 3%;
}
.cp_iptxt input[type='search'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #000000;
    border: none;
    border-bottom: 2px solid #1b2538;
    background: transparent;
}
.ef input[type='number']:focus {
    border-bottom: 2px solid #21da43;
    outline: none;
}

.search_input{
    display: flex;
    align-items: center;
}

.submit_box{
    background-color: white;
    border: solid 1.5px black;
    border-radius: 10px;
    padding: 10px;
}

.new_friend{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d7d7d7;
    margin-top: 2px;
}
.search_friend{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    padding: 20px 0 20px 0;
}
.new_friend_name{
    position: relative;
    top:-25px;
    left: 10px;
    font-size: 20px;
}
a{
    color: #007bff;
    text-decoration: none;
}
.judge_new_friend{
    margin-right: 10px;
 }
.acquaintance{
    width: 100%;
    height: 20px;
    border-top: solid 2px #acacac;
    border-bottom: solid 2px #acacac;
}

.search_friend_name{

}