.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    border-bottom: solid 0.5px #525457;
    border-radius: 1px;
    background-color: #fefefe;
}

.top_picture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.05);
}

.talk_list {
    padding: 57px 0 0 0;
    width: 100%;
}

.delete{
    color: #007bff;
}

.user_profile{
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user_profile_info{
    margin-left: 10px;
}

.user_name{
    font-size: 20px;
}
.header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 57px;
    background-color: #f8f8f8;
    z-index: 9999;
    box-shadow: 0 0 2px;
}
.header_image{
}