body{
    margin:0;
}
#contact{
    display: none;
}
#imageSend{
    display: none;
}
#preview{
    display: none;
}
/*以下、背景色など*/
.line-bc {
    padding: 60px 12px 50px 12px;
    max-width: 450px;
    margin: 0;
    text-align: right;
    font-size: 14px;
    /*background: #7da4cd;*/
     background: #ffffff;
}

/*以下、②左側のコメント*/
.balloon6 {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.balloon6 .face_icon {
    float: left;
    margin-right: -50px;
    width: 40px;
}

.balloon6 .face_icon img{
    width: 100%;
    height: 30px;
    border-radius: 50%;
}
.balloon6 .chatting {
    width: 100%;
    text-align: left;
}
.says {
    display: inline-block;
    position: relative;
    margin: 0 0 0 50px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.says p {
    margin: 0;
    padding: 0;
}

/*以下、③右側の緑コメント*/
.my_comment {
    margin: 10px 0;
}
.my_comment p {
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: #30e852;
    font-size: 15px;
}

.my_comment p:after {
    content: "";
    position: absolute;
    top: 3px;
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}


/*///////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////↓ヘッドメニュー編集↓////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*ヘッドメニューの位置*/
.btUnder{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    box-shadow: 0 0 2px;
    background-color: #f8f8f8;
    z-index: 9999;
}

.back{
    margin-left: 10px;
}

.item2{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.item3{
    margin-left: 5px;
    width:50px;
}

img{
    max-height: 50%;
    max-width: 100%;
}


/*///////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////↓テキスト編集・送信↓////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

.js-modal__bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.js-modal__main {
    width: calc(100% - 32px);
    height: 50%;
    padding: 16px;
    bottom: -81%;
    left: 0;
    background: #fff;
    border-radius:4px 4px 0 0 ;
    position: fixed;
    z-index: 11;
    opacity: 0;
}
.js-modal__btn {
    color:#76952f;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 8%;
    margin-right: 0%;
}
.js-modal__btn--close--fix {
    width: 30px;
    height: 30px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    right: 5px;
    z-index: 101;
    cursor:pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.js-modal__btn--close--fix:before{
    content:"";
    width: 20px;
    height: 20px;
    border-right:3px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    top:12px;
    left:-3px;
}
.js-modal__btn--close--fix:after{
    content:"";
    width: 20px;
    height: 20px;
    border-right:3px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top:-2px;
    left:-3px;
}
/*下から上*/
@keyframes SlideUp {
    0% {
        opacity: 0;
        transform: translateY(-1%);
    }
    100% {
        opacity: 1;
        transform: translateY(-80%);
    }
}
/*上から下*/
@keyframes SlideDown {
    0% {
        opacity: 1;
        transform: translateY(-80%);
    }
    100% {
        opacity: 0;
        transform: translateY(-1%);
    }
}
.js-modal__main._slideUp {
    animation: SlideUp .5s ease-in-out forwards;
}
.js-modal__main._slideDown {
    animation: SlideDown .5s ease-in-out forwards;
}

.com{
    position: absolute;
    bottom: 8%;
    left: 12%;
}

.sendMessageBox{
/*    !*margin-left: 50px;*!*/
/*    bottom: 64px;*/
/*    border: 1px solid rgb(0, 0, 0);*/
/*    border-radius: 0.67em;*/
/*    width: 230px;*/
/*    height: 45px;*/
}

.text_area{
    border-radius: 0.67em;
    border: 1px solid rgb(0, 0, 0);
    width: 260px;
    height: 40px;
    margin-top:2.5px;
    font-size: 20px;
}

.filelabel {
    display: inline-block;
    border: 1px solid green;
    background-color: #007fff;
    color: white;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 5%;
    bottom: 63px;
}
#send {
    display: none;
}
.footer{
    width:100%;
    border-top: solid 1px #b7b7b7;
    height: 45px;
    position: fixed;
    bottom: 0;
    background-color: #f8f8f8;
    z-index:9998;
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*justify-content: center;*/
}

.btn-flat-border {
    height: 40px;
    width: 38px;
}
#myImage{
    display: none   ;
}
.upload-img-btn {
    /*width: 260px;*/
    /*border-radius: 0.67em;*/
    /*text-align: center;*/
    /*background-color: #f1f1f1;*/
    /*color: rgba(5, 210, 5, 0.79);*/
    /*cursor: pointer;*/
}
.sendPictureBox{
    display: none;
    border-radius: 0.67em;
    border: 1px solid rgb(0, 0, 0);
    width: 260px;
    height: 38px;
    margin-top:2px;
    background-color: #8b8b8b;
}
.sendMessage{
    display: none;
}

.block_text{
    font-size: 30px;
}
.judge_text{
    display: none;
}