body{
    /*background-color: rgb(240, 240, 240);*/
}
a{
    text-decoration: none;
    color: #04ca04;
}

.image{
    margin: 50px;
    text-align: center;
}

.login_page{
    margin-top: 200px;
    text-align: center;
}
.error_message{
    text-align: center;
    margin-top: 150px;
}